body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.252);
}
.app {
  margin-top: 10vh;
}
.bars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .bar {
    width: 10px;
    background-color: black;
    margin-right: 5px;
  }
  .bar:last-child {
    margin-right: 0px;
  }
}
.controlls {
  text-align: center;
  margin-top: 3vh;
  button {
    margin-right: 10px;
  }
}
